body {
  /* background-image: url(/img/nyanv.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */

  background: yellow;

  /* padding-top: 20dvh; */
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
.login_form {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 85dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.logo {
  /* margin-left: 300px; */
  height: 600px;
  width: 600px;
  /* background: gray; */
}
.logo img {
  width: 600px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 700px;
}

.wrapper {
  /* margin: 0;
  position: absolute; */
  width: 500px;
  /* border-style: solid;
  border-width: 3px;
  border-color: rgb(45, 40, 40); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  border-radius: 10px;
}
body
  > div
  > div.container.m-0
  > div
  > form
  > div.d-flex.flex-row.justify-content-between.align-items-center
  > div:nth-child(1)
  > button {
  background: yellow;
}
body
  > div
  > div.container.m-0
  > div
  > form
  > div.d-flex.flex-row.justify-content-between.align-items-center
  > div:nth-child(1)
  > button:hover {
  background: rgb(230, 214, 0);
}
