body {
  /* display: flex;
              justify-content: center; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 239, 239);
}

.productlist {
  padding: 10px;
  height: 100dvh;
  width: 95dvw;
  /* background: rgb(18, 14, 14); */
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
}
.productlist .card {
  /* margin: 10px; */
  height: 400px;
  margin: 10px;
}
.remove_button {
  position: absolute;
  margin-top: 10px;
  margin-left: 70%;
}
.remove_button button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: red;
  color: white;
}
.productlist .card img {
  /* margin: 10px; */
  /* width: 200px; */
  height: 250px;
  object-fit: cover;
}
.productlist .card .add_button {
  height: 400px;
  width: 290px;
  /* background: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.productlist .card .add_button a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productlist .card .add_button h3 {
  color: gray;
}

.productlist .card .add_button img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
