.user:hover {
  background: transparent;
}

.container {
  border-radius: 20px;
  border: 1px solid gray;
}

body > div.container.p-4 > div > div.col-7.m-1.border {
  display: flex;
  flex-wrap: wrap;
}

body > div.container.p-4 > div > div.col-4.m-1.border > img {
  height: 150px;
}

.user_id {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid gray;
  /* background: yellow; */
}
.user_details {
  padding-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  height: 50px;
  width: 200px;
  /* background: gray; */
}

body > div.container.p-4 > div > div.col-12.m-1.border {
  display: flex;
  flex-wrap: wrap;
}
h3 {
  width: 100%;
}
